In [79]:
import pandas as pd

In [80]:
chicago_raw = pd.read_csv("../data_sources/chicago/CHICAGO.csv", encoding="utf-8", low_memory=False, usecols=['Date', 'Primary Type'])

In [81]:
for col in chicago_raw.columns:
    print(col)

Date
Primary Type

In [82]:
chicago_raw.head(10)

                     Date             Primary Type
0  08/25/2007 09:22:18 AM                  ASSAULT
1  01/05/2002 09:24:00 PM                    THEFT
2  09/06/2023 05:00:00 PM          CRIMINAL DAMAGE
3  08/31/2023 12:00:00 PM       DECEPTIVE PRACTICE
4  07/24/2023 09:45:00 PM  CRIMINAL SEXUAL ASSAULT
5  08/27/2023 07:00:00 AM                    THEFT
6  09/04/2023 09:30:00 PM          CRIMINAL DAMAGE
7  08/15/2023 02:20:00 PM                    THEFT
8  07/24/2023 04:09:00 PM       DECEPTIVE PRACTICE
9  09/03/2023 10:27:00 AM                    THEFT

In [83]:
chicago_raw.describe(include='all')

                          Date Primary Type
count                  7937641      7937641
unique                 3278565           36
top     01/01/2008 12:01:00 AM        THEFT
freq                       303      1675624

In [84]:
chicago_raw['Primary Type'].unique()

array(['ASSAULT', 'THEFT', 'CRIMINAL DAMAGE', 'DECEPTIVE PRACTICE',
       'CRIMINAL SEXUAL ASSAULT', 'OFFENSE INVOLVING CHILDREN', 'ROBBERY',
       'SEX OFFENSE', 'OTHER OFFENSE', 'WEAPONS VIOLATION', 'BATTERY',
       'STALKING', 'MOTOR VEHICLE THEFT', 'CRIMINAL TRESPASS', 'HOMICIDE',
       'PROSTITUTION', 'BURGLARY', 'NARCOTICS', 'KIDNAPPING', 'ARSON',
       'CONCEALED CARRY LICENSE VIOLATION',
       'INTERFERENCE WITH PUBLIC OFFICER', 'PUBLIC PEACE VIOLATION',
       'LIQUOR LAW VIOLATION', 'INTIMIDATION', 'GAMBLING', 'OBSCENITY',
       'HUMAN TRAFFICKING', 'CRIM SEXUAL ASSAULT',
       'OTHER NARCOTIC VIOLATION', 'RITUALISM', 'PUBLIC INDECENCY',
       'DOMESTIC VIOLENCE', 'NON-CRIMINAL',
       'NON-CRIMINAL (SUBJECT SPECIFIED)', 'NON - CRIMINAL'], dtype=object)

In [85]:
crime_dict = {
    'ASSAULT': 'Assault and Violent Crimes',
    'THEFT': 'Theft and Property Offenses',
    'CRIMINAL DAMAGE': 'Miscellaneous Offenses',
    'DECEPTIVE PRACTICE': 'Fraud and Deception',
    'CRIMINAL SEXUAL ASSAULT': 'Sexual Offenses',
    'OFFENSE INVOLVING CHILDREN': 'Child-Related Offenses',
    'ROBBERY': 'Theft and Property Offenses',
    'SEX OFFENSE': 'Sexual Offenses',
    'OTHER OFFENSE': 'Miscellaneous Offenses',
    'WEAPONS VIOLATION': 'Firearm and Weapon-Related Crimes',
    'BATTERY': 'Assault and Violent Crimes',
    'STALKING': 'Harassment and Intimidation',
    'MOTOR VEHICLE THEFT': 'Traffic and Vehicle-Related Offenses',
    'CRIMINAL TRESPASS': 'Miscellaneous Offenses',
    'HOMICIDE': 'Assault and Violent Crimes',
    'PROSTITUTION': 'Miscellaneous Offenses',
    'BURGLARY': 'Theft and Property Offenses',
    'NARCOTICS': 'Miscellaneous Offenses',
    'KIDNAPPING': 'Child-Related Offenses',
    'ARSON': 'Miscellaneous Offenses',
    'CONCEALED CARRY LICENSE VIOLATION': 'Firearm and Weapon-Related Crimes',
    'INTERFERENCE WITH PUBLIC OFFICER': 'Miscellaneous Offenses',
    'PUBLIC PEACE VIOLATION': 'Miscellaneous Offenses',
    'LIQUOR LAW VIOLATION': 'Miscellaneous Offenses',
    'INTIMIDATION': 'Harassment and Intimidation',
    'GAMBLING': 'Miscellaneous Offenses',
    'OBSCENITY': 'Miscellaneous Offenses',
    'HUMAN TRAFFICKING': 'Miscellaneous Offenses',
    'CRIM SEXUAL ASSAULT': 'Sexual Offenses',
    'OTHER NARCOTIC VIOLATION': 'Miscellaneous Offenses',
    'RITUALISM': 'Miscellaneous Offenses',
    'PUBLIC INDECENCY': 'Miscellaneous Offenses',
    'DOMESTIC VIOLENCE': 'Assault and Violent Crimes',
    'NON-CRIMINAL': 'Miscellaneous Offenses',
    'NON-CRIMINAL (SUBJECT SPECIFIED)': 'Miscellaneous Offenses',
    'NON - CRIMINAL': 'Miscellaneous Offenses'
}

In [86]:
crime_categories = set(crime_dict.values())

# Вивести унікальні категорії
print("Унікальні категорії злочинів:")
for category in crime_categories:
    print(category)

# Порахувати кількість унікальних категорій
кількість_категорій = len(crime_categories)
print(f"\nЗагальна кількість унікальних категорій: {кількість_категорій}")

Унікальні категорії злочинів:
Theft and Property Offenses
Child-Related Offenses
Firearm and Weapon-Related Crimes
Harassment and Intimidation
Assault and Violent Crimes
Sexual Offenses
Traffic and Vehicle-Related Offenses
Miscellaneous Offenses
Fraud and Deception

Загальна кількість унікальних категорій: 9

In [87]:
chicago_raw['Crime'] = chicago_raw['Primary Type'].map(crime_dict)

In [88]:
chicago_raw.rename(columns={'Primary Type' : 'Specific crime'}, inplace=True)

In [89]:
chicago_raw['City'] = 'Chicago'

In [90]:
chicago_raw.head()

,Date,Specific crime,Crime,City
0,08/25/2007 09:22:18 AM,ASSAULT,Assault and Violent Crimes,Chicago
1,01/05/2002 09:24:00 PM,THEFT,Theft and Property Offenses,Chicago
2,09/06/2023 05:00:00 PM,CRIMINAL DAMAGE,Miscellaneous Offenses,Chicago
3,08/31/2023 12:00:00 PM,DECEPTIVE PRACTICE,Fraud and Deception,Chicago
4,07/24/2023 09:45:00 PM,CRIMINAL SEXUAL ASSAULT,Sexual Offenses,Chicago

In [91]:
chicago_raw['Date'] = pd.to_datetime(chicago_raw['Date'], format="%m/%d/%Y %H:%M:%S %p" , errors='coerce')
chicago_raw['Date'] = chicago_raw['Date'].dt.strftime('%d/%m/%Y')

In [92]:
chicago_raw.head()

         Date           Specific crime                        Crime     City
0  25/08/2007                  ASSAULT   Assault and Violent Crimes  Chicago
1  05/01/2002                    THEFT  Theft and Property Offenses  Chicago
2  06/09/2023          CRIMINAL DAMAGE       Miscellaneous Offenses  Chicago
3  31/08/2023       DECEPTIVE PRACTICE          Fraud and Deception  Chicago
4  24/07/2023  CRIMINAL SEXUAL ASSAULT              Sexual Offenses  Chicago

In [93]:
chicago_raw = chicago_raw[["Date", "City", "Crime", "Specific crime"]]

In [95]:
chicago_raw.head()

         Date     City                        Crime           Specific crime
0  25/08/2007  Chicago   Assault and Violent Crimes                  ASSAULT
1  05/01/2002  Chicago  Theft and Property Offenses                    THEFT
2  06/09/2023  Chicago       Miscellaneous Offenses          CRIMINAL DAMAGE
3  31/08/2023  Chicago          Fraud and Deception       DECEPTIVE PRACTICE
4  24/07/2023  Chicago              Sexual Offenses  CRIMINAL SEXUAL ASSAULT

In [94]:
chicago_raw.to_csv('../data_standartized/chicago.csv', index=False)