In [83]:
import pandas as pd

In [84]:
ny = pd.read_csv('../data_standartized/new_york.csv', encoding="utf-8", low_memory=False)

In [85]:
bt = pd.read_csv('../data_standartized/boston.csv', encoding="utf-8", low_memory=False)

In [86]:
ph = pd.read_csv('../data_standartized/phoenix.csv', encoding="utf-8", low_memory=False)

In [87]:
cin = pd.read_csv('../data_standartized/cincinnati.csv', encoding="utf-8", low_memory=False)

In [88]:
ch = pd.read_csv('../data_standartized/chicago.csv', encoding="utf-8", low_memory=False)

In [89]:
dv = pd.read_csv('../data_standartized/denver.csv', encoding="utf-8", low_memory=False)

In [90]:
la = pd.read_csv('../data_standartized/los_angeles.csv', encoding="utf-8", low_memory=False)

In [91]:
cities = pd.concat([ny,bt,ph,cin,ch,la,dv])

In [92]:
cities.describe(include='all')

              Date      City                        Crime Specific crime
count     22324046  22325285                     22226313       22311978
unique        9766         7                           12            522
top     01/01/2011  New York  Theft and Property Offenses          THEFT
freq          6888   8353049                      7763654        1850578

In [93]:
hm = pd.read_csv('../data_standartized/holidays_and_moon.csv', encoding="utf-8", low_memory=False)

In [94]:
cities = pd.merge(cities,hm, on="Date", how='left')

In [95]:
cities.tail(10)

,Date,City,Crime,Specific crime,Day of the Week,Holiday,Full moon
22325275,18/01/2017,Denver,Miscellaneous Offenses,All Other Offenses,Wednesday,NaN,NaN
22325276,17/01/2017,Denver,Miscellaneous Offenses,All Other Offenses,Tuesday,NaN,NaN
22325277,17/01/2017,Denver,Miscellaneous Offenses,All Other Offenses,Tuesday,NaN,NaN
22325278,17/01/2017,Denver,Miscellaneous Offenses,All Other Offenses,Tuesday,NaN,NaN
22325279,17/01/2017,Denver,Miscellaneous Offenses,All Other Offenses,Tuesday,NaN,NaN
22325280,17/01/2017,Denver,Miscellaneous Offenses,All Other Offenses,Tuesday,NaN,NaN
22325281,17/01/2017,Denver,Miscellaneous Offenses,All Other Offenses,Tuesday,NaN,NaN
22325282,17/01/2017,Denver,Miscellaneous Offenses,All Other Offenses,Tuesday,NaN,NaN
22325283,18/01/2017,Denver,Miscellaneous Offenses,All Other Offenses,Wednesday,NaN,NaN
22325284,17/01/2017,Denver,Assault and Violent Crimes,Other Assaults,Tuesday,NaN,NaN

In [96]:
import pyarrow.parquet
import fastparquet


cities['Crime'] = cities['Crime'].astype(str)
cities.to_parquet('../data_standartized/cities.parquet', engine='auto', compression='gzip', index=None)