In [1]:
import pandas as pd
from datetime import datetime

In [2]:
full_moon = pd.read_csv("../data_sources/full_moons.csv", encoding="utf-8", low_memory=False)

In [3]:
full_moon.head(10)

         Day              Date         Time Flag
0     Monday   15 January 1900   8:07:30 pm  NaN
1  Wednesday  14 February 1900   2:50:12 pm  NaN
2     Friday     16 March 1900   9:11:48 am  NaN
3     Sunday     15 April 1900   2:02:06 am  NaN
4     Monday       14 May 1900   4:36:36 pm  NaN
5  Wednesday      13 June 1900   4:38:36 am  [/]
6   Thursday      12 July 1900   2:21:54 pm  NaN
7     Friday    10 August 1900  10:29:54 pm  NaN
8     Sunday  9 September 1900   6:06:06 am  NaN
9     Monday    8 October 1900   2:18:06 pm  NaN

In [4]:
# Assuming 'Date' is the column containing dates
# Convert 'Date' to datetime format
full_moon['Date'] = pd.to_datetime(full_moon['Date'], format='%d %B %Y')

# Define the start and end dates for the desired range
start_date = pd.to_datetime('2000-01-01')
end_date = pd.to_datetime('2023-12-31')

# Create an empty list to store the filtered rows
filtered_rows = []

# Iterate through the rows using a while loop
index = 0
while index < len(full_moon):
    current_date = full_moon.loc[index, 'Date']
    
    # Check if the current date is within the desired range
    if start_date <= current_date <= end_date:
        # Append the row to the list
        filtered_rows.append(full_moon.loc[index])
        
    # Move to the next row
    index += 1

# Create a new DataFrame from the list of filtered rows
full_moon = pd.DataFrame(filtered_rows)

In [5]:
full_moon['Date'] = pd.to_datetime(full_moon['Date'], format='%d %B %Y')
full_moon['Date'] = full_moon['Date'].dt.strftime('%d/%m/%Y')

In [6]:
full_moon['Day of the Week'] = full_moon['Day']

In [7]:
full_moon['Full moon'] = '1'

In [8]:
full_moon = full_moon[['Date', 'Day of the Week', 'Full moon']]

In [9]:
full_moon.head()

            Date Day of the Week Full moon
1237  21/01/2000          Friday         1
1238  19/02/2000        Saturday         1
1239  20/03/2000          Monday         1
1240  18/04/2000         Tuesday         1
1241  18/05/2000        Thursday         1

In [ ]:
full_moon.to_csv('../data_standartized/moon00-23.csv', index=False)