In [75]:
import pandas as pd

In [76]:
new_york = pd.read_csv('../data_sources/new_york/NYPD_BEST.csv', encoding="utf-8", low_memory=False, usecols=['CMPLNT_FR_DT', 'OFNS_DESC'])

In [77]:
new_york.head(10)

  CMPLNT_FR_DT                       OFNS_DESC
0   01/01/2002                            RAPE
1   04/22/2005  GRAND LARCENY OF MOTOR VEHICLE
2   07/11/2005   UNAUTHORIZED USE OF A VEHICLE
3   10/19/2005         MISCELLANEOUS PENAL LAW
4   12/04/2005                   GRAND LARCENY
5   01/09/2006                         ROBBERY
6   01/11/2006    ASSAULT 3 & RELATED OFFENSES
7   01/13/2006                  FELONY ASSAULT
8   01/15/2006                   PETIT LARCENY
9   01/22/2006  INTOXICATED & IMPAIRED DRIVING

In [78]:
new_york.describe(include='all')

       CMPLNT_FR_DT      OFNS_DESC
count       8352394        8353049
unique         9401             73
top      01/01/2010  PETIT LARCENY
freq           2495        1446716

In [79]:
new_york['OFNS_DESC'].unique()

array(['RAPE', 'GRAND LARCENY OF MOTOR VEHICLE',
       'UNAUTHORIZED USE OF A VEHICLE', 'MISCELLANEOUS PENAL LAW',
       'GRAND LARCENY', 'ROBBERY', 'ASSAULT 3 & RELATED OFFENSES',
       'FELONY ASSAULT', 'PETIT LARCENY',
       'INTOXICATED & IMPAIRED DRIVING', 'HARRASSMENT 2', 'THEFT-FRAUD',
       'POSSESSION OF STOLEN PROPERTY', 'BURGLARY',
       'OFF. AGNST PUB ORD SENSBLTY &', 'KIDNAPPING & RELATED OFFENSES',
       'ARSON', 'FORGERY', 'SEX CRIMES', 'DANGEROUS DRUGS', '(null)',
       'MURDER & NON-NEGL. MANSLAUGHTER', 'DANGEROUS WEAPONS', 'FRAUDS',
       'CRIMINAL MISCHIEF & RELATED OF', 'OTHER OFFENSES RELATED TO THEF',
       'OFFENSES AGAINST PUBLIC ADMINI', 'OFFENSES INVOLVING FRAUD',
       'VEHICLE AND TRAFFIC LAWS', 'CRIMINAL TRESPASS',
       'NYS LAWS-UNCLASSIFIED FELONY', 'PETIT LARCENY OF MOTOR VEHICLE',
       'OTHER STATE LAWS (NON PENAL LA', 'ADMINISTRATIVE CODE',
       'OFFENSES AGAINST THE PERSON', 'CHILD ABANDONMENT/NON SUPPORT',
       "BURGLAR'S TOOLS", 'OTHER STATE LAWS',
       'OFFENSES RELATED TO CHILDREN', 'FRAUDULENT ACCOSTING', 'GAMBLING',
       'ESCAPE 3', 'OFFENSES AGAINST PUBLIC SAFETY',
       'ENDAN WELFARE INCOMP', 'PROSTITUTION & RELATED OFFENSES',
       'LOITERING/GAMBLING (CARDS, DIC', 'JOSTLING',
       'HOMICIDE-NEGLIGENT,UNCLASSIFIE', 'ALCOHOLIC BEVERAGE CONTROL LAW',
       'ANTICIPATORY OFFENSES', 'NEW YORK CITY HEALTH CODE',
       'HOMICIDE-NEGLIGENT-VEHICLE', 'ADMINISTRATIVE CODES',
       'UNLAWFUL POSS. WEAP. ON SCHOOL', 'DISRUPTION OF A RELIGIOUS SERV',
       'INTOXICATED/IMPAIRED DRIVING', 'LOITERING FOR DRUG PURPOSES',
       'FORTUNE TELLING', 'LOITERING/DEVIATE SEX', 'LOITERING',
       'ABORTION', 'OTHER TRAFFIC INFRACTION', 'THEFT OF SERVICES',
       'DISORDERLY CONDUCT', 'OFFENSES AGAINST MARRIAGE UNCL',
       'UNDER THE INFLUENCE OF DRUGS', 'OTHER STATE LAWS (NON PENAL LAW)',
       'KIDNAPPING AND RELATED OFFENSES', 'KIDNAPPING',
       'AGRICULTURE & MRKTS LAW-UNCLASSIFIED',
       'NYS LAWS-UNCLASSIFIED VIOLATION', 'FELONY SEX CRIMES',
       'CANNABIS RELATED OFFENSES'], dtype=object)

In [80]:
crime_dict = {
    'RAPE': 'Sexual Offenses',
    'GRAND LARCENY OF MOTOR VEHICLE': 'Theft and Property Offenses',
    'UNAUTHORIZED USE OF A VEHICLE': 'Traffic and Vehicle-Related Offenses',
    'MISCELLANEOUS PENAL LAW': 'Miscellaneous Offenses',
    'GRAND LARCENY': 'Theft and Property Offenses',
    'ROBBERY': 'Theft and Property Offenses',
    'ASSAULT 3 & RELATED OFFENSES': 'Assault and Violent Crimes',
    'FELONY ASSAULT': 'Assault and Violent Crimes',
    'PETIT LARCENY': 'Theft and Property Offenses',
    'INTOXICATED & IMPAIRED DRIVING': 'Traffic and Vehicle-Related Offenses',
    'HARRASSMENT 2': 'Harassment and Intimidation',
    'THEFT-FRAUD': 'Theft and Property Offenses',
    'POSSESSION OF STOLEN PROPERTY': 'Theft and Property Offenses',
    'BURGLARY': 'Theft and Property Offenses',
    'OFF. AGNST PUB ORD SENSBLTY &': 'Miscellaneous Offenses',
    'KIDNAPPING & RELATED OFFENSES': 'Assault and Violent Crimes',
    'ARSON': 'Theft and Property Offenses',
    'FORGERY': 'Fraud and Deception',
    'SEX CRIMES': 'Sexual Offenses',
    'DANGEROUS DRUGS': 'Miscellaneous Offenses',
    '(null)': 'Miscellaneous Offenses',
    'MURDER & NON-NEGL. MANSLAUGHTER': 'Assault and Violent Crimes',
    'DANGEROUS WEAPONS': 'Firearm and Weapon-Related Crimes',
    'FRAUDS': 'Fraud and Deception',
    'CRIMINAL MISCHIEF & RELATED OF': 'Criminal Misconduct',
    'OTHER OFFENSES RELATED TO THEF': 'Theft and Property Offenses',
    'OFFENSES AGAINST PUBLIC ADMINI': 'Miscellaneous Offenses',
    'OFFENSES INVOLVING FRAUD': 'Fraud and Deception',
    'VEHICLE AND TRAFFIC LAWS': 'Traffic and Vehicle-Related Offenses',
    'CRIMINAL TRESPASS': 'Criminal Misconduct',
    'NYS LAWS-UNCLASSIFIED FELONY': 'Miscellaneous Offenses',
    'PETIT LARCENY OF MOTOR VEHICLE': 'Theft and Property Offenses',
    'OTHER STATE LAWS (NON PENAL LAW)': 'Miscellaneous Offenses',
    'ADMINISTRATIVE CODE': 'Miscellaneous Offenses',
    'OFFENSES AGAINST THE PERSON': 'Assault and Violent Crimes',
    'CHILD ABANDONMENT/NON SUPPORT': 'Miscellaneous Offenses',
    "BURGLAR'S TOOLS": 'Theft and Property Offenses',
    'OTHER STATE LAWS': 'Miscellaneous Offenses',
    'OFFENSES RELATED TO CHILDREN': 'Child-Related Offenses',
    'FRAUDULENT ACCOSTING': 'Harassment and Intimidation',
    'GAMBLING': 'Miscellaneous Offenses',
    'ESCAPE 3': 'Miscellaneous Offenses',
    'OFFENSES AGAINST PUBLIC SAFETY': 'Miscellaneous Offenses',
    'ENDAN WELFARE INCOMP': 'Miscellaneous Offenses',
    'PROSTITUTION & RELATED OFFENSES': 'Miscellaneous Offenses',
    'LOITERING/GAMBLING (CARDS, DIC': 'Miscellaneous Offenses',
    'JOSTLING': 'Miscellaneous Offenses',
    'HOMICIDE-NEGLIGENT,UNCLASSIFIE': 'Assault and Violent Crimes',
    'ALCOHOLIC BEVERAGE CONTROL LAW': 'Miscellaneous Offenses',
    'ANTICIPATORY OFFENSES': 'Miscellaneous Offenses',
    'NEW YORK CITY HEALTH CODE': 'Miscellaneous Offenses',
    'HOMICIDE-NEGLIGENT-VEHICLE': 'Assault and Violent Crimes',
    'ADMINISTRATIVE CODES': 'Miscellaneous Offenses',
    'UNLAWFUL POSS. WEAP. ON SCHOOL': 'Firearm and Weapon-Related Crimes',
    'DISRUPTION OF A RELIGIOUS SERV': 'Miscellaneous Offenses',
    'INTOXICATED/IMPAIRED DRIVING': 'Traffic and Vehicle-Related Offenses',
    'LOITERING FOR DRUG PURPOSES': 'Miscellaneous Offenses',
    'FORTUNE TELLING': 'Miscellaneous Offenses',
    'LOITERING/DEVIATE SEX': 'Miscellaneous Offenses',
    'LOITERING': 'Miscellaneous Offenses',
    'ABORTION': 'Miscellaneous Offenses',
    'OTHER TRAFFIC INFRACTION': 'Traffic and Vehicle-Related Offenses',
    'THEFT OF SERVICES': 'Theft and Property Offenses',
    'DISORDERLY CONDUCT': 'Miscellaneous Offenses',
    'OFFENSES AGAINST MARRIAGE UNCL': 'Miscellaneous Offenses',
    'UNDER THE INFLUENCE OF DRUGS': 'Miscellaneous Offenses',
    'OTHER STATE LAWS (NON PENAL LAW)': 'Miscellaneous Offenses',
    'KIDNAPPING AND RELATED OFFENSES': 'Assault and Violent Crimes',
    'KIDNAPPING': 'Assault and Violent Crimes',
    'AGRICULTURE & MRKTS LAW-UNCLASSIFIED': 'Miscellaneous Offenses',
    'NYS LAWS-UNCLASSIFIED VIOLATION': 'Miscellaneous Offenses',
    'FELONY SEX CRIMES': 'Sexual Offenses',
    'CANNABIS RELATED OFFENSES': 'Miscellaneous Offenses'
}

In [81]:
new_york['Crime'] = new_york['OFNS_DESC'].map(crime_dict)

In [82]:
crime_categories = set(crime_dict.values())

# Вивести унікальні категорії
print("Унікальні категорії злочинів:")
for category in crime_categories:
    print(category)

# Порахувати кількість унікальних категорій
кількість_категорій = len(crime_categories)
print(f"\nЗагальна кількість унікальних категорій: {кількість_категорій}")

Унікальні категорії злочинів:
Sexual Offenses
Harassment and Intimidation
Traffic and Vehicle-Related Offenses
Fraud and Deception
Child-Related Offenses
Assault and Violent Crimes
Theft and Property Offenses
Criminal Misconduct
Firearm and Weapon-Related Crimes
Miscellaneous Offenses

Загальна кількість унікальних категорій: 10

In [83]:
new_york.head()

,CMPLNT_FR_DT,OFNS_DESC,Crime
0,01/01/2002,RAPE,Sexual Offenses
1,04/22/2005,GRAND LARCENY OF MOTOR VEHICLE,Theft and Property Offenses
2,07/11/2005,UNAUTHORIZED USE OF A VEHICLE,Traffic and Vehicle-Related Offenses
3,10/19/2005,MISCELLANEOUS PENAL LAW,Miscellaneous Offenses
4,12/04/2005,GRAND LARCENY,Theft and Property Offenses

In [84]:
new_york.rename(columns={'CMPLNT_FR_DT' : 'Date', 'OFNS_DESC' : 'Specific crime'}, inplace=True)

In [85]:
new_york.head()

,Date,Specific crime,Crime
0,01/01/2002,RAPE,Sexual Offenses
1,04/22/2005,GRAND LARCENY OF MOTOR VEHICLE,Theft and Property Offenses
2,07/11/2005,UNAUTHORIZED USE OF A VEHICLE,Traffic and Vehicle-Related Offenses
3,10/19/2005,MISCELLANEOUS PENAL LAW,Miscellaneous Offenses
4,12/04/2005,GRAND LARCENY,Theft and Property Offenses

In [86]:
new_york['Date'] = pd.to_datetime(new_york['Date'], format="%m/%d/%Y" , errors='coerce')
new_york['Date'] = new_york['Date'].dt.strftime('%d/%m/%Y')

In [87]:
new_york.head()

,Date,Specific crime,Crime
0,01/01/2002,RAPE,Sexual Offenses
1,22/04/2005,GRAND LARCENY OF MOTOR VEHICLE,Theft and Property Offenses
2,11/07/2005,UNAUTHORIZED USE OF A VEHICLE,Traffic and Vehicle-Related Offenses
3,19/10/2005,MISCELLANEOUS PENAL LAW,Miscellaneous Offenses
4,04/12/2005,GRAND LARCENY,Theft and Property Offenses

In [88]:
new_york["City"] = 'New York'

In [89]:
new_york.describe(include='all')

              Date Specific crime                        Crime      City
count      8352253        8353049                      8345428   8353049
unique        9267             73                           10         1
top     01/01/2010  PETIT LARCENY  Theft and Property Offenses  New York
freq          2495        1446716                      3089670   8353049

In [90]:
new_york = new_york[["Date", "City", "Crime", "Specific crime"]]

In [91]:
new_york.to_csv('../data_standartized/new_york.csv', index=False)