In [99]:
import pandas as pd
import re
import numpy as np
from datetime import datetime

In [100]:
phoenix = pd.read_csv('../data_sources/phoenix/PHOENIX.csv', encoding="utf-8", low_memory=False, usecols=['OCCURRED ON', 'UCR CRIME CATEGORY', 'PREMISE TYPE'])

In [101]:
phoenix.head(10)

         OCCURRED ON   UCR CRIME CATEGORY         PREMISE TYPE
0  11/01/2015  00:00                 RAPE  SINGLE FAMILY HOUSE
1  11/01/2015  00:00        LARCENY-THEFT            APARTMENT
2  11/01/2015  00:00        LARCENY-THEFT          PARKING LOT
3  11/01/2015  00:00  MOTOR VEHICLE THEFT  SINGLE FAMILY HOUSE
4  11/01/2015  00:00  MOTOR VEHICLE THEFT  SINGLE FAMILY HOUSE
5  11/01/2015  00:00  MOTOR VEHICLE THEFT  SINGLE FAMILY HOUSE
6  11/01/2015  00:00        LARCENY-THEFT          PARKING LOT
7  11/01/2015  00:00         DRUG OFFENSE            APARTMENT
8  11/01/2015  00:00        LARCENY-THEFT  SINGLE FAMILY HOUSE
9  11/01/2015  00:00                 RAPE             HOSPITAL

In [102]:
phoenix.describe(include='all')

              OCCURRED ON UCR CRIME CATEGORY         PREMISE TYPE
count              508140             508559               505201
unique             322564                  9                   98
top     01/01/2020  00:00      LARCENY-THEFT  SINGLE FAMILY HOUSE
freq                   74             259363                73718

In [103]:
phoenix["UCR CRIME CATEGORY"].unique()

array(['RAPE', 'LARCENY-THEFT', 'MOTOR VEHICLE THEFT', 'DRUG OFFENSE',
       'BURGLARY', 'AGGRAVATED ASSAULT',
       'MURDER AND NON-NEGLIGENT MANSLAUGHTER', 'ROBBERY', 'ARSON'],
      dtype=object)

In [104]:
phoenix.head()

         OCCURRED ON   UCR CRIME CATEGORY         PREMISE TYPE
0  11/01/2015  00:00                 RAPE  SINGLE FAMILY HOUSE
1  11/01/2015  00:00        LARCENY-THEFT            APARTMENT
2  11/01/2015  00:00        LARCENY-THEFT          PARKING LOT
3  11/01/2015  00:00  MOTOR VEHICLE THEFT  SINGLE FAMILY HOUSE
4  11/01/2015  00:00  MOTOR VEHICLE THEFT  SINGLE FAMILY HOUSE

In [105]:
phoenix.rename(columns={'OCCURRED ON' : 'Date', 'UCR CRIME CATEGORY' : 'Specific crime'}, inplace=True)

In [106]:
phoenix['Crime'] = 0

In [107]:
phoenix.head

<bound method NDFrame.head of                      Date       Specific crime         PREMISE TYPE  Crime
0       11/01/2015  00:00                 RAPE  SINGLE FAMILY HOUSE      0
1       11/01/2015  00:00        LARCENY-THEFT            APARTMENT      0
2       11/01/2015  00:00        LARCENY-THEFT          PARKING LOT      0
3       11/01/2015  00:00  MOTOR VEHICLE THEFT  SINGLE FAMILY HOUSE      0
4       11/01/2015  00:00  MOTOR VEHICLE THEFT  SINGLE FAMILY HOUSE      0
...                   ...                  ...                  ...    ...
508554  10/12/2023  22:55        LARCENY-THEFT       PARKING GARAGE      0
508555  10/12/2023  23:00  MOTOR VEHICLE THEFT  SINGLE FAMILY HOUSE      0
508556  10/12/2023  23:07  MOTOR VEHICLE THEFT            APARTMENT      0
508557  10/12/2023  23:30  MOTOR VEHICLE THEFT  SINGLE FAMILY HOUSE      0
508558  10/12/2023  23:30  MOTOR VEHICLE THEFT  SINGLE FAMILY HOUSE      0

[508559 rows x 4 columns]>

In [108]:
phoenix['Date'] = pd.to_datetime(phoenix['Date'], format="%m/%d/%Y %H:%M" , errors='coerce')
phoenix['Date'] = phoenix['Date'].dt.strftime('%d/%m/%Y')

In [109]:
phoenix['City'] = "Phoenix"

In [110]:
phoenix = phoenix[["Date", "City", "Crime", "Specific crime"]]

In [111]:
phoenix.head

<bound method NDFrame.head of               Date     City  Crime       Specific crime
0       01/11/2015  Phoenix      0                 RAPE
1       01/11/2015  Phoenix      0        LARCENY-THEFT
2       01/11/2015  Phoenix      0        LARCENY-THEFT
3       01/11/2015  Phoenix      0  MOTOR VEHICLE THEFT
4       01/11/2015  Phoenix      0  MOTOR VEHICLE THEFT
...            ...      ...    ...                  ...
508554  12/10/2023  Phoenix      0        LARCENY-THEFT
508555  12/10/2023  Phoenix      0  MOTOR VEHICLE THEFT
508556  12/10/2023  Phoenix      0  MOTOR VEHICLE THEFT
508557  12/10/2023  Phoenix      0  MOTOR VEHICLE THEFT
508558  12/10/2023  Phoenix      0  MOTOR VEHICLE THEFT

[508559 rows x 4 columns]>

In [112]:
phoenix.to_csv('../data_standartized/phoenix.csv', index=False)